.wrapper {
  background-color: white;
  max-width: 360px;
  margin: auto;
}

body {
  background-color: #e5e5e5;
  font-family: sans-serif;
}

h1 {
  font-size: 40px;
  text-align: left;
  margin-left: 20px;
  color: #172b4d;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
  max-width: 300px;
}

p {
  font-size: 16px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 290px;
  color: #344563;
}

.content {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(250, 253, 255);
  background-image: url(./images/bg-1.png);
  background-size: 380px 500px;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 30px;
}

.logo > a {
  color: blue;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: larger;
  text-decoration: none;
}

#connect {
  margin-left: 25px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  color: #7f8cff;
}

header {
  display: flex;
  justify-content: space-between;
}

.content-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  max-width: 40%;
  position: relative;
  left: -15px;
  padding-right: 10px;
}

.wrapper-1 {
  height: 40px;
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid white;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 400px;
  padding-top: 40px;
}

#menu {
  width: 30px;
  height: 20px;
}

.tonic h2 {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  font-weight: bolder;
  margin-bottom: 2px;
  padding-bottom: 1px;
  color: #172b4d;
}

.tonic {
  display: grid;
  padding-top: 3em;
  max-width: 330px;
  margin: auto;
  padding-left: 30px;
  padding-right: 1px;
  padding-bottom: 3em;
  margin-bottom: 100px;
  border: 1px solid #dfe1e6;
  border-radius: 20px;
  background-color: white;
}

#profs {
  display: flex;
  color: #7a869a;
  justify-content: space-between;
  width: 82%;
  padding-left: 0%;
  margin-left: 0%;
}

#cannopy {
  list-style: none;
  font-weight: bolder;
  color: #344563;
  position: relative;
  top: 1px;
}

.tonic p {
  padding-left: 0%;
  font-size: large;
  color: #344563;
  margin-bottom: 1px;
  padding-bottom: 0%;
  margin-top: 1px;
  padding-top: 0%;
}

.button {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 50%;
  padding-left: 0%;
  margin-left: 0%;
}

.button button {
  color: #6070ff;
  height: 25px;
  border-radius: 8px;
  border-color: #ebebff;
  background-color: #ebebff;
  border-style: none;
}

.hidden3 button {
  width: 133px;
  height: 40px;
  border-radius: 6px;
  font-style: normal;
  font-size: 17px;
  color: #6070ff;
  background-color: white;
  border: 1px solid #7f8cff;
  line-height: 24px;
  letter-spacing: 3%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.wrapper2 {
  max-width: 200px;
  display: grid;
  position: relative;
  top: 100px;
  margin-left: 15px;
}

.imgez {
  position: relative;
  bottom: 30px;
  right: 15px;
}
