.wrapper {
  background-color: #f7f7f9;
  max-width: 360px;
  margin: auto;
  padding-bottom: 150px;
}

body {
  background-color: #e5e5e5;
  font-family: sans-serif;
}

h1 {
  font-size: 40px;
  text-align: left;
  margin-left: 20px;
  color: #172b4d;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
  max-width: 300px;
}

p {
  font-size: 16px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 290px;
  color: #344563;
}

.content {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(250, 253, 255);
  background-image: url(./images/bg-1.png);
  background-size: 380px 500px;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 30px;
}

.logo > a {
  color: blue;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: larger;
  text-decoration: none;
}

#connect {
  margin-left: 25px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  color: #7f8cff;
}

header {
  display: flex;
  justify-content: space-between;
}

.content-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  max-width: 40%;
  position: relative;
  left: -15px;
  padding-right: 10px;
}

.wrapper-1 {
  height: 40px;
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid white;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 400px;
  padding-top: 40px;
}

#menu {
  width: 30px;
  height: 20px;
}

.tonic h2 {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  font-weight: bolder;
  margin-bottom: 2px;
  padding-bottom: 1px;
  color: #172b4d;
}

.tonic {
  display: grid;
  padding-top: 3em;
  max-width: 330px;
  margin: auto;
  padding-left: 30px;
  padding-right: 1px;
  padding-bottom: 3em;
  margin-bottom: 100px;
  border: 1px solid #dfe1e6;
  border-radius: 20px;
  background-color: white;
}

#profs {
  display: flex;
  color: #7a869a;
  justify-content: space-between;
  width: 82%;
  padding-left: 0%;
  margin-left: 0%;
}

#cannopy {
  list-style: none;
  font-weight: bolder;
  color: #344563;
  position: relative;
  top: 1px;
}

.tonic p {
  padding-left: 0%;
  font-size: large;
  color: #344563;
  margin-bottom: 1px;
  padding-bottom: 0%;
  margin-top: 1px;
  padding-top: 0%;
}

.button {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 50%;
  padding-left: 0%;
  margin-left: 0%;
}

.button button {
  color: #6070ff;
  height: 25px;
  border-radius: 8px;
  border-color: #ebebff;
  background-color: #ebebff;
  border-style: none;
}

.hidden3 button {
  width: 133px;
  height: 40px;
  border-radius: 6px;
  font-style: normal;
  font-size: 17px;
  color: #6070ff;
  background-color: white;
  border: 1px solid #7f8cff;
  line-height: 24px;
  letter-spacing: 3%;
}

.wrapper2 {
  max-width: 200px;
  display: grid;
  position: relative;
  top: 100px;
  margin-left: 15px;
}

.imgez {
  position: relative;
  bottom: 30px;
  right: 15px;
}

#connect1 {
  padding-left: 2px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  color: #7f8cff;
}

#profs1 {
  display: flex;
  color: #7a869a;
  justify-content: space-between;
  width: 82%;
  padding-left: 0%;
  margin-left: 0%;
}

#profs2 {
  display: flex;
  color: #7a869a;
  justify-content: space-between;
  width: 82%;
  padding-left: 0%;
  margin-left: 0%;
}

#profs3 {
  display: flex;
  color: #7a869a;
  justify-content: space-between;
  width: 82%;
  padding-left: 0%;
  margin-left: 0%;
}

#cannopy1 {
  list-style: none;
  font-weight: bolder;
  color: #344563;
  position: relative;
  top: 1px;
}

#cannopy2 {
  list-style: none;
  font-weight: bolder;
  color: #344563;
  position: relative;
  top: 1px;
}

#cannopy3 {
  list-style: none;
  font-weight: bolder;
  color: #344563;
  position: relative;
  top: 1px;
}

.hidden button {
  width: 133px;
  height: 40px;
  border-radius: 6px;
  font-style: normal;
  font-size: 17px;
  color: #6070ff;
  background-color: white;
  border: 1px solid #7f8cff;
  line-height: 24px;
  letter-spacing: 3%;
}

.hidden2 button {
  width: 133px;
  height: 40px;
  border-radius: 6px;
  font-style: normal;
  font-size: 17px;
  color: #6070ff;
  background-color: white;
  border: 1px solid #7f8cff;
  line-height: 24px;
  letter-spacing: 3%;
}

.hidden4 button {
  width: 133px;
  height: 40px;
  border-radius: 6px;
  font-style: normal;
  font-size: 17px;
  color: #6070ff;
  background-color: white;
  border: 1px solid #7f8cff;
  line-height: 24px;
  letter-spacing: 3%;
}

.hidden1 button {
  width: 133px;
  height: 40px;
  border-radius: 6px;
  font-style: normal;
  font-size: 17px;
  color: #6070ff;
  background-color: white;
  border: 1px solid #7f8cff;
  line-height: 24px;
  letter-spacing: 3%;
}

#stories-header {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  font-weight: bolder;
  margin-bottom: 2px;
  padding-bottom: 1px;
  width: 55%;
}

#stories-header2 {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  font-weight: bolder;
  margin-bottom: 2px;
  padding-bottom: 1px;
  width: 55%;
}

#stories-header1 {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  font-weight: bolder;
  margin-bottom: 2px;
  padding-bottom: 1px;
  width: 55%;
}

.abt {
  position: relative;
}

.about {
  position: absolute;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  padding-top: 6em;
  padding-left: 37px;
  padding-right: 2px;
  min-width: 208px;
  border-top-right-radius: 50px;
  background-color: white;
  padding-bottom: 150px;
  top: 70px;
  z-index: 1;
}

.about p {
  padding-left: 0%;
  color: #344563;
  margin-bottom: 10px;
  padding-bottom: 0%;
  margin-top: 1px;
  padding-top: 0%;
}

.about h2 {
  font-size: 30px;
  line-height: 40px;
  line-height: 80%;
  text-align: left;
  color: #172b4d;
  font-weight: bold;
  padding-bottom: 1px;
  margin-bottom: 20px;
  padding-top: 1px;
  margin-top: 1px;
}

.languages li {
  list-style: none;
  position: relative;
  left: -35px;
}

.frame-skill li {
  list-style: none;
}

#language {
  position: absolute;
  left: 65%;
  top: 465px;
}

#fram {
  position: absolute;
  left: 75%;
  top: 810px;
}

#skill {
  position: absolute;
  left: 75%;
  top: 880px;
}

.frame-skill a {
  text-decoration: none;
}

.languages li a {
  width: 10%;
  padding: 0;
  margin: 0;
}

.languages li a img {
  width: 100%;
}

#profiler1 {
  position: relative;
  font-size: larger;
  font-weight: bolder;
  padding-bottom: 22px;
  padding-top: 22px;
  left: -35px;
  text-decoration: none;
  border-bottom: 1px solid #e2dfdf;
}

#profiler {
  position: relative;
  font-size: larger;
  font-weight: bolder;
  padding-bottom: 22px;
  padding-top: 22px;
  left: 3px;
}

#profiler a {
  text-decoration: none;
  color: black;
}

#profiler2 {
  position: relative;
  font-size: larger;
  font-weight: bolder;
  padding-bottom: 22px;
  padding-top: 22px;
  left: -35px;
  border-bottom: 1px solid #e2dfdf;
}

#profiler2 a {
  color: black;
}

#profiler1 a {
  color: black;
}

#story {
  position: relative;
  right: 15px;
  bottom: 27px;
}

#snap1 {
  position: relative;
  right: 15px;
  bottom: 28px;
}

.content-list1 {
  display: flex;
  list-style: none;
  justify-content: space-between;
  max-width: 40%;
  position: relative;
  right: 36px;
  padding-right: 10px;
}
button:hover {
  background-color: #6070ff;
  color: white;
}
